.data__type {
  position: relative;
  font-family: courier;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.125;
  white-space: pre;
}
.data__type--opened:before {
  content: '';
  position: absolute;
  height: calc(100% - 1em);
  top: 1em;
  left: calc(.25em / 2);
  border-left: 1px dotted #ccc;
}
.data__key {
  color: #d23a00;
  display: inline-block;
  padding-right: .5em;
}
.data__key:after {
  content: ':';
  color: #666;
}
.data__value--string {
  color: #0b800b;
}
.data__value--string:before,
.data__value--string:after {
  content: '"';
  color: #666;
}
.data__value--number {
  color: royalblue;
}
.data__value--boolean {
  color: #c524aa;
}
.data__value--null {
  color: #ccc;
}
.data__value--object,
.data__value--array {
  color: #666;
}
.data__list-handle:before {
  content: '';
  height: 0;
  border-style: solid;
  border-width: .25em .45em;
  border-color: transparent transparent transparent #666;
  display: inline-block;
  vertical-align: middle;
}
.data__list-handle--opened:before {
  transform: rotate(90deg) translate3d(.25em, .25em, 0);
}
.data__list-handle:hover {
  cursor: pointer;
}
.data__list-items {
  margin-left: 1.5em;
  display: none;
}
.data__list-items--opened {
  display: block;
}
